@font-face {
    font-family: "Engravers Gothic BT W01";
    src: url("../static/fonts/9edbccdb-d742-4854-be92-116cb48455c2.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Eund W00";
    src: url("../static/fonts/b33dcc4e-8871-4328-aea8-fa0ac5290746.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Eund W00";
    src: url("../static/fonts/68e00589-b50f-40ff-8423-13ec000df6b2.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Eund W00";
    src: url("../static/fonts/c3100e9c-1adb-4abb-9e9a-24006b893b1c.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
	font-family: "Trade Gothic W01";
	src: url("../static/fonts/5414f75e-5cb8-4357-88e5-5a294424c859.woff2") format("woff2");
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: "Trade Gothic W01";
	src: url("../static/fonts/1ba28851-f34b-4cb8-bf58-6a4b160ba249.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}